/* Celebraciones */
.intro {
    margin: 5% 5% 5% 5%;

    p {
        font-size: 20px;
        font-weight: 400;
    }
}

.celebraciones {
    display: flex;
    flex-direction: row;
}

.sectionCel {
    margin: 8% 5% 15% 3.5%;
}