/* General */
html body {
    font-size: 80%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(248, 245, 245);
}

.header {
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0%;
    background-color: rgb(254, 238, 238, );
}

.logo {
    width: 12%;
    height: 12%;
    margin-left: 45%;
    padding-top: 1%;
}

.separacionMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}


.menu {
    background-color: rgb(254, 238, 238, );
    transition: none;

    ul {
        list-style-type: none;
        overflow: hidden;

        li {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;

            a {
                padding: 10px;
                color: #8e518d;
                text-decoration: none;
            }
        }
    }
}


.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*PRUEBAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

.checkbtn {
    font-size: 30px;
    color: rgb(167, 167, 167);
    float: left;
    margin-left: 20px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/*PRUEBAAAAAAAA*/



.redesHeader {
    margin-right: 3%;
}

/* Todos los titulos */
.titulo {
    margin: 3% 5% 3% 5%;

    h2 {
        color: #8e518d;
    }
}

.footer {
    background-color: #c86fc9;
    width: 100%;
    bottom: 0%;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;

    ul {
        list-style-type: none;
        overflow: none;

        li a {
            color: #8e518d;
            text-decoration: none
        }
    }
}

.list {
    margin-top: 1%;
}

.copy {
    margin-top: 20%;
    align-items: center;
    color: #8e518d
}

.redes {
    margin-top: 1%;
    margin-right: 3%;
}