/* MediaQueries */
@media screen and (max-width: 768px) {

    /*GENERAL*/

    .menu {
        ul {
            li {
                font-size: 13px;
            }
        }
    }

    .lista {
        display: flex;
        flex-direction: column;
    }

    .redesHeader {
        margin-top: 10%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .list {
        margin-top: 5%;
    }

    .copy {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .redes {
        margin-bottom: 10%;
    }

    /*INDEX*/
    .carrusel {
        margin-left: 25%;
    }

    .imagenLink {

        align-items: center;
        margin-left: 3%;

        img {
            width: 300px;
            height: 150px;
        }
    }


    .resena {
        flex-direction: column;
        align-items: center;
    }

    .creadora {
        width: auto;
        height: auto;
    }


    .presentacion {

        p {
            font-size: 15px;
        }
    }

    .botonGral {

        .boton {
            margin-bottom: 10%;
            font-size: 15px;
        }
    }

    /*PRODUCTOS*/

    .sectionPro {
        width: 100%;
        margin: 0% 0% 0% 0%;
    }

    .productos {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-left: 0%;
        margin-right: 0%;
    }

    /*CELEBRACIONES*/
    .celebraciones {
        flex-flow: column wrap;
        align-items: center;
    }

    .intro {
        margin: 1% 2% 1% 2%;
    }

    .mesaDulce {
        margin-bottom: 3%;
    }

    /*EMPRESAS*/
    .gridContainer {
        /*grid-template-columns: 100%;
        grid-template-rows: 50% 50%;*/
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .asideEmp {
        padding: auto;
        margin-bottom: 2%;
        margin-left: 5%;
    }

    /*SOBRE MI*/
    .descripccion {
        margin-left: 3%;
        margin-bottom: 3%;
    }


}