/* MediaQueries */
@media screen and (max-width: 768px) {

    /*General*/

    .menu {
        ul {
            li {
                font-size: 13px;
            }
        }
    }

    .lista {
        display: flex;
        flex-direction: column;
    }

    .redesHeader {
        margin-top: 10%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .list {
        margin-top: 5%;
    }

    .copy {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .redes {
        margin-bottom: 10%;
    }

    /*Index*/


    /*Productos*/

    .sectionPro {
        width: 100%;
        margin: 0% 0% 0% 0%;
    }

    .productos {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-left: 0%;
        margin-right: 0%;
    }

    /*Celebraciones*/
    .celebraciones {
        flex-flow: column wrap;
        align-items: center;
    }

    .intro {
        margin: 1% 1% 1% 1%;
    }

    /*Empresas*/
    .gridContainer {
        /*grid-template-columns: 100%;
        grid-template-rows: 50% 50%;*/
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .asideEmp {
        padding: auto;
        margin-bottom: 2%;
        margin-left: 5%;
    }

    /*Sobre Mi*/
    .descripccion {
        margin-left: 3%;
    }


}