/* Sobre Mi */

.sobreMiImg {
    margin: 5% 5% 5% 5%;
    float: left;
    height: 50%;
}

.descripccion {
    margin: auto;
    padding-top: 15%;
    margin-right: 3%;
    font-size: 18px;
    font-weight: 400;
}